{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Категории
{% endblock title %}

{% block content %}
    <div class="content-menu">
        <div class="content-menu-left">
            <a href="#" onclick="history.back();">Назад</a>
        </div>
        <div class="content-menu-right">
            <ul>
                {% if is_not_category_subscriber %}
                    <li><a href="{% url 'subscribe_category' category.id %}">Подписаться на категорию</a></li>
                {% else %}
                   <li><a href="{% url 'unsubscribe_category' category.id %}">Отписаться от категории</a></li>
                {% endif %}
            </ul>           
        </div>
    </div>    
    
    <div class="post-h1" align="center">{{ category }}</div>
    <hr class="hr-shelf">

    {% for post in categorylist %}
        <div class="post">
            <div class="post-title">
                <div class="post-h1"><a href="/{{ post.id }}">{{ post.title|censor }}</a></div>
            </div>
            <div class="main">
                {% if post.image %}
                <div class="post-image">
                    <img src="{{MEDIA_DIR}}{{post.image.url}}">
                </div>
                {% endif %}
                <div class="post-text">
                    <div class="post-h3-main">{{ post.date_in|date:'d M Y' }}</div>
                    <div class="post-h3-main">
                        {% for category in post.category.all %}
                           <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                        {% endfor %}
                    </div>
                    <div class="post-h2-main">{{ post.text|truncatechars:200}}</div>
                    <div class="post-h3-right">
                        Автор: <a href="{% url 'author_list' post.author.id %}">{{ post.author.user }}</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-shelf">
    {% endfor %}
    
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}"><<</a>
            {% if page_obj.previous_page_number != 1 %}
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        <span>{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">>></a>
            {% endif %}
        {% endif %}
    </div>

{% endblock content %}