{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
    <div class="content-menu">
        <div class="content-menu-left">
            <a href="#" onclick="history.back();">Назад</a>
        </div>
        <div class="content-menu-right">
            {% if is_author_this_post %}
            <ul>
                <li><a href="{{ post.id }}/edit/">Редактировать</a></li>
                <li><a href="{{ post.id }}/delete/">Удалить</a></li>
            </ul>
            {% endif %}
        </div>
    </div>

    <div class="post">
        <div class="post-h1">{{ post.title|censor }}</div>
        <div class="post-h3">Дата: {{ post.date_in|date:'d M Y' }}</div>
        <div class="post-h3">
            {% for category in post.category.all %}
                <a href="{% url 'category_list' category.id %}">{{ category }}</a>
            {% endfor %}
        </div>
    </div>
    <hr class="hr-shelf">

    {% if post.image %}
    <div class="post-img">
        <img src="{{MEDIA_DIR}}{{post.image.url}}">
        <hr class="hr-shelf">
    </div>
    {% endif %}

    <div class="post">
        <div class="post-h2">{{ post.text|censor|linebreaks }}</div>
    </div>
    <div class="post-h3-right-in">
        Автор: <a href="{% url 'author_list' post.author.id %}">{{ post.author.user }}</a>
    </div>
    <hr class="hr-shelf">
    {% if comments %}
    <div class="post">
        <div class="post-h1" align="center">Комментарии</div>
    </div>
    {% endif %}
    {% for comment in comments %}
        <div class="post comment-form">
            <div class="post-h3">{{ comment.user }}</div>
            <div class="post-h3">{{ comment.date_in|date:'d M Y' }}</div>
            <div class="post-h2">{{ comment.text }}</div>
        </div>
    {% endfor %}
    {% if request.user.is_authenticated %}
    <form class="post comment-form-edit" method="post">
        {% csrf_token %}
        <div class="post-h3">Ваш комментарий:</div>
        <div>{{ form.text }}</div>
        <input type="submit" value="Сохранить">
    </form>
    {% endif %}
{% endblock content %}