{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated and not is_not_author %}
        <div class="content-menu">
            <div class="content-menu-left">
                <a href="#" onclick="history.back();">Назад</a>
            </div>
            <div class="content-menu-right">
                <ul>
                    <li><a href="{{ post.id }}/edit/">Редактировать</a></li>
                    <li><a href="{{ post.id }}/delete/">Удалить</a></li>
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="post">
        <div class="post-h1">{{ post.title|censor }}</div>
        <div class="post-h3">Дата: {{ post.date_in|date:'d M Y' }}</div>
    </div>
    <hr class="hr-shelf">

    {% if post.image %}
    <div class="post-img">
        <img src="{{MEDIA_DIR}}{{post.image.url}}">
        <hr class="hr-shelf">
    </div>
    {% endif %}

    <div class="post">
        <div class="post-h2">{{ post.text|censor|linebreaks }}</div>
    </div>
    <hr class="hr-shelf">
    <div class="post-h3-right-in">Автор: {{ post.author.user }}</div>
{% endblock content %}