{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
    <div class="content-menu">
        <ul>
            <li><a href="news/{{ post.id }}/edit/">Править новость</a></li>
            <li><a href="articles/{{ post.id }}/edit/">Править статью</a></li>
            <li><a href="news/{{ post.id }}/delete/">Удалить новость</a></li>
            <li><a href="articles/{{ post.id }}/delete/">Удалить статью</a></li>
        </ul>
    </div>

    <div class="post">
        <div class="post-h1">{{ post.title|censor }}</div>
        <div class="post-h3">Дата: {{ post.date_in|date:'d M Y' }}</div>
    </div>
    <hr class="hr-shelf">

    {% if post.image %}
    <div class="post-img">
        <img src="{{MEDIA_DIR}}{{post.image.url}}">
        <hr class="hr-shelf">
    </div>
    {% endif %}

    <div class="post">
        <div class="post-h2">{{ post.text|censor|linebreaks }}</div>
    </div>
    <hr class="hr-shelf">
    <div class="post-h3-right">Автор: {{ post.author.user }}</div>
{% endblock content %}