<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{{ flatpage.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="wrapper">

        <div id="menu">
            <div class="menu-bar"></div>
            <div class="menu-bar">
                <div class="menu-bar-logo">
                    <a href="/">Новостной уголок</a>
                </div>
            </div>
            <div class="menu-bar">
                <div class="menu-bar-main">
                    <ul>
                        <li><a href="/">Новости</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu-bar">
                <div class="menu-bar-login">
                    {% if request.user.is_authenticated %}
                        <span>Привет, </span><a href="http://127.0.0.1:8000/personal/">{{ user.username }}!</a>
                        <a class="menu-bar-login-but" href="http://127.0.0.1:8000/accounts/logout/">Выйти</a>
                    {% else %}
                        <a class="menu-bar-login-but" href="http://127.0.0.1:8000/accounts/login/">Войти</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="header">
            <div class="logo-back">
                <p><span class="header-logo">Новостной уголок</span></p>
                <p><span class="header-logo-dis">маленький уголок с большими новостями</span></p>
            </div>
        </div>

        <div class="main">
            <div id="leftsidebar"></div>
            <div id="mainsidebar">
                <div class="content">
                    {% block content %}
                    {{ flatpage.content }}
                    {% endblock content %}
                </div>
            </div>
            <div id="rightsidebar">
                {% block rightsidebar %}
                {{ flatpage.rightsidebar }}
                {% endblock rightsidebar %}
            </div>
        </div>

        <div id="footer">
            <span class="footer-logo">design by Stefan</span>
        </div>

    </div>
</body>
</html>